@import './variables.scss';

.section-4 {
    display: flex;
    flex-direction: column;
    height: 2729px;
}

.section-4__first-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 950px;
    margin-top: 8px;
    border-bottom: $grey-border;
}

.section-4__second-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 857px;
    border-bottom: $grey-border;
}

.section-4__third-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 920px;
}

.section-4__first-title {
    width: 290px;
    margin-top: 40px;
    font-size: 22px;
    font-weight: $bold;
    line-height: 34px;
    color: rgba(0, 155, 77, 1);
}

.section-4__second-title {
    width: 290px;
    margin-top: 17px;
}

.section-4__first-text {
    width: 290px;
    height: 168px;
    margin-top: 15px;
    color: $first-text-color;
    font-size: 24px;
    line-height: 34px;
}

.section-4__second-text {
    width: 290px;
    height: 168px;
    margin-top: 18px;
    color: $first-text-color;
    font-size: 24px;
    line-height: 34px;
}

.section-4__third-text {
    width: 290px;
    height: 168px;
    margin-top: 13px;
    color: $first-text-color;
    font-size: 24px;
    line-height: 34px;
}

.section-4__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    margin-top: 30px;
}

.section-4__phrase {
    width: 290px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: $second-text-color;
    font-size: 14px;
    line-height: 22px;
}

.section-4__phrase:last-child {
    margin-bottom: 50px;
}

.section-4__img_first-icon {
    width: 290px;
    height: 432px;
}

.section-4__img_second-icon {
    width: 290px;
    height: 381px;
}

.section-4__img_third-icon {
    width: 290px;
    height: 400px;
}

.section-4-1 {
    display: flex;
    min-width: 1400px;
    min-height: 602px;
}

.section-4-1__part-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 110px;
}

.section-4-1__part-2_first-title {
    color: rgba(0, 155, 77, 1);
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    width: 95px;
    height: 34px;
}

.section-4-1__part-2_second-title {
    width: 462px;
    height: 112px;
    color: rgba(43, 41, 45, 1);
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
}

.section-4-1__part-2_text {
    width: 461px;
    height: 102px;
    color: rgba(43, 41, 45, 1);
    font-size: 24px;
    line-height: 34px;
    margin-top: 30px;
}

.section-4-1__part-2_title-with-compas {
    display: flex;
    margin-top: 42px;
}

.section-4-1__part-2_title-with-compas-img {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4-1__part-2_title-with-compas-img-icon {
    width: 24px;
    height: 24px;
}

.section-4-1__part-2_title-with-compas-text {
    width: 418px;
    height: 28px;
    color: rgba(49, 66, 198, 1);
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-left: 15px;
}

.section-4-1__part-2_down-text {
    width: 459px;
    height: 78px;
    border-bottom: 2px solid rgba(49, 66, 198, 1);
    color: rgba(43, 41, 45, 1);
    font-size: 18px;
    line-height: 26px;
    margin-top: 8px;
}

.section-4-1__part-2_first-link {
    margin-top: 21px;
    display: flex;
    align-items: center;
    padding-bottom: 21px;
    border-bottom: $grey-border;
}

.section-4-1__part-2_first-link-img {
    width: 23px;
    height: 25px;
}

.section-4-1__part-2_first-link-img-icon {
    width: 23px;
    height: 25px;
}

.section-4-1__part-2_first-link-text {
    width: 418px;
    height: 28px;
    color: rgba(43, 41, 45, 1);
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-left: 15px;
}

.section-4-1__part-2_second-link {
    margin-top: 21px;
    padding-bottom: 15px;
    border-bottom: $grey-border;
    display: flex;
}

.section-4-1__part-2_second-link-img {
    width: 22px;
    height: 22px;
}

.section-4-1__part-2_second-link-img-icon {
    width: 22px;
    height: 22px;
}

.section-4-1__part-2_second-link-text {
    margin-left: 15px;
    width: 418px;
    height: 34px;
    color: rgba(43, 41, 45, 1);
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.section-4-1__part-1 {
    margin-right: 40px;
    margin-top: 258px;
}

.section-4-1__part-3 {
    margin-left: 126px;
    width: 1086px;
    height: 597px;
}