@import './variables.scss';

.section-2 {
    height: 428px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(244, 245, 247, 1);
}

.section-2__first-paragraf {
    width: 290px;
    height: 180px;
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    justify-content: space-between;
}

.section-2__second-paragraf {
    width: 290px;
    height: 136px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 46px;
    justify-content: space-between;
}

.section-2__title {
    color: $first-text-color;
    font-weight: $bold;
    font-size: 22px;
    line-height: 32px;
}

.section-2__text {
    color: $first-text-color;
    font-size: 22px;
    line-height: 32px;
}