@import './variables.scss';

.section-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-10__title {
    text-align: center;
    width: 290px;
    height: 45px;
    margin-top: 50px;
}

.section-10__text {
    text-align: center;
    width: 290px;
    height: 136px;
    color: rgba(43, 41, 45, 1);
    font-size: 24px;
    line-height: 34px;
    margin-top: 18px;
}

.section-10__button {
    width: 290px;
    height: 48px;
    border-radius: $button-border-radius;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%), #3040C4;
    background-blend-mode: OVERLAY, NORMAL;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05), 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 0px 0px rgba(255, 255, 255, 0.10) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 24px;
}

.section-10__button-text {
    width: 190px;
    height: 13px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: $bold;
    line-height: 13px;
}

.section-10__rectangle {
    width: 290px;
    height: 140px;
    border-radius: 8px;
    border: 1px solid rgba(43, 41, 45, 0.20);
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.section-10__rectangle:last-child {
    margin-bottom: 50px;
}

.section-10__rectangle_block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 140px;
    justify-content: space-between;
}

.section-10__rectangle_block-text-title {
    color: $first-text-color;
    font-size: 22px;
    font-weight: $bold;
    line-height: 28px;
    width: 200px;
    margin-top: 19px;
}

.section-10__rectangle_block-text-text {
    color: rgba(43, 41, 45, 0.6000000238418579);
    font-size: 16px;
    line-height: 22px;
    width: 200px;
    height: 26px;
    margin-bottom: 19px;
}

.section-10__rectangle_block-arrow {
    border-radius: 0px 8px 8px 0px;
    background: rgba(213, 212, 213, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 140px;
}

.section-10__rectangle_block-arrow-icon {
    width: 7px;
    height: 12px;
}