@media screen and (min-width: 1400px) {

    .body {
        max-width: 100vh;
    }

    .page {
        min-width: 1400px;
        margin: auto;
    }

    // HEADER

    .header {
        width: 1140px;
        min-height: 62px;
        align-items: center;
        margin-left: 130px;
        margin-right: 130px;
        margin-top: 39px;
    }

    .header__menu {
        border: none;
    }

    .header__menu_icon {
        display: none;
    }

    .header__logo {
        width: 360px;
        height: 62px;
        align-items: center;
        margin-left: 0px;
    }

    .header__logo_t {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 51px;
    }

    .header__logo_icon {
        width: 60px;
        height: 60px;
        margin: 0px;
    }

    .header__logo_icon-img {
        width: 60px;
        height: 60px;
    }

    .header__logo_text {
        line-height: 25px;
        margin-left: 15px;
    }

    .header__button {
        width: 160px;
        height: 48px;
        border: none;
        border-radius: 2px;
        background-color: rgba(48, 64, 196, 1);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__button-text {
        width: 104px;
        height: 13px;
        color: rgba(255, 255, 255, 1);
        font-size: 18px;
        font-weight: $bold;
        line-height: 13px;
    }

    .header__logo_text-second {
        width: 300px;
        color: rgba(43, 41, 45, 0.6);
        font-size: 20px;
        line-height: 25px;
        margin-left: 15px;
    }

    .header__menu {
        display: flex;
        align-items: center;
    }

    .header__menu_items {
        display: flex;
        width: 273px;
        height: 25px;
        justify-content: space-between;
        margin-top: 7px;
    }

    .header__menu_items-item {
        color: rgba(43, 41, 45, 1);
        font-size: 18px;
        line-height: 25px;
    }

    .header__menu_items-item-selected {
        color: rgba(0, 0, 0, 1);
        font-weight: $bold;
    }

    .header__menu_arrow {
        margin-right: 56px;
        margin-left: 11px;
        margin-top: 0;
        width: 8px;
    }

    .header__menu_arrow-img {
        width: 8px;
    }

    .top-section {
        height: 710px;
        min-width: 1400px;
        display: flex;
        flex-direction: column;
        background-color: rgba(243, 198, 189, 1);
    }

    // HEADER-SECTION

    .header-section {
        flex-direction: row;
        max-height: 609px;

        &__part-1 {
            display: flex;
            flex-direction: column;
            margin-left: 130px;
        }

        &__part-2 {
            display: flex;
        }

        &__main {
            flex-direction: row;
        }

        &__big-text {
            margin-top: 0;
            width: 754px;
            height: 165px;
            margin-left: 0;
            line-height: 78px;
            font-size: 80px;
            letter-spacing: -0.5px;
            z-index: 1;
        }

        &__small-text {
            width: 456px;
            height: 102px;
            margin-top: 34px;
        }

        &__img {
            width: 796px;
            height: 448px;
            margin-top: 185px;
            margin-bottom: 77px;
            position: relative;
            right: 300px;
            top: -25px;

            &_icon {
                width: 796px;
                height: 448px;
            }
        }

        &__first-button {
            width: 160px;
            margin-top: 58px;
            margin-right: 10px;

            &_text {
                font-weight: $bold;
                line-height: 13px;
                font-size: 18px;
                color: $blue-button-text-color;
            }
        }

        &__second-button {
            width: 158px;
            margin-top: 58px;

            &_text {
                font-weight: $bold;
                line-height: 13px;
                font-size: 18px;
                color: $white-button-text-color;
            }
        }
    }

    // ABOUT

    .about {
        min-width: 1400px;
        min-height: 255px;
        flex-direction: row;
        align-items: center;

        &__first-paragraf {
            width: 555px;
            height: 102px;
            margin-left: 130px;
            margin-right: 29px;
            margin-top: 0;
        }

        &__second-paragraf {
            width: 555px;
            height: 102px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    // CUSTOMERS

    .customers {
        min-width: 1400px;
        min-height: 255px;
        flex-direction: row;

        &__three-rectangles {
            width: 582.5px;
            border-bottom: none;

            &:nth-child(1) {
                margin-left: 130px;
            }
        }

        &__rectangles {
            width: 185px !important;
            border: none !important;
        }

        &__img {
            max-width: 100%;
        }
    }

    // FEATURES

    .features {
        display: none;
    }

    // INBOX

    .inbox {
        min-width: 1400px;
        min-height: 790px;
        flex-direction: row;

        &__part-1 {
            width: 782px;
        }

        &__part-2 {
            width: 618px;
        }

        &__img {
            width: 425px;
            height: 510px;
            margin-top: 142px;
            margin-left: 193px;

            &_text {
                width: 283px;
                height: 22px;
                font-size: 14px;
                line-height: 22px;
                color: $second-text-color;
                margin-top: 15px;
                margin-left: 264px;
            }

            &_icon {
                width: 425px;
                height: 510px;
            }
        }

        &__first-title {
            width: 125px;
            margin-top: 115px;
            margin-left: 28px;
        }

        &__second-title {
            width: 462px;
            height: 112px;
            margin-top: 24px;
            margin-left: 28px;
            line-height: 56px !important;
            font-size: 56px !important;
        }

        &__text {
            width: 461px;
            height: 102px;
            margin-top: 30px;
            margin-left: 28px;
        }

        &__cutting {
            width: 519px;
            height: 213px;
            margin-top: 44px;
            align-items: baseline;

            &_phrase {
                width: 459px;
                height: 85px;
                margin-left: 30px;
            }

            &_autor {
                margin-bottom: 24px;
            }

            &_autor-avatar {
                margin-left: 0;
            }

            &_autor-name {
                width: 225px;
                height: 44px;
            }
        }
    }

    // COMMUNICATION

    .communication {
        min-width: 1400px;
        min-height: 866px;

        &__part-1 {
            display: flex;
            flex-direction: column;
            width: 1144px;
        }

        &__part-2 {
            display: flex;
        }

        &__second-part {
            flex-direction: row;
            width: 1144px;
            align-items: baseline;
            justify-content: space-between;

            &_first-text {
                width: 360px;
                height: 115px;
                margin-top: 41px;
            }

            &_second-text {
                width: 360px;
                height: 115px;
                margin-top: 41px;
            }

            &_third-text {
                width: 360px;
                height: 115px;
                margin-top: 41px;
                margin-bottom: 0;
            }
        }

        &__first-part {
            &_first-title {
                margin-top: 123px;
                width: 225px;
                height: 34px;
            }

            &_second-title {
                margin-top: 24px;
                width: 462px;
                height: 112px;
                font-size: 56px !important;
                line-height: 56px !important;
                letter-spacing: -0.5px !important;
            }

            &_text {
                margin-top: 30px;
                width: 461px;
                height: 102px;
            }

            &_img {
                margin-top: 110px;
                width: 425px;
                height: 426px;
                margin-left: 194px;
            }

            &_button {
                margin-top: 39px;
            }

            &_img-icon {
                width: 425px;
                height: 426px;
            }

            &_phrase {
                margin-top: 15px;
                margin-left: 290px;
                width: 235px;
            }

            &_phrase-bottom {
                height: 26px;
                margin-left: 0;
            }
        }
    }

    // AUDIENCE

    .audience {
        min-width: 1400px;
        min-height: 983px;

        &__part-1 {
            display: flex;
            flex-direction: column;
        }

        &__part-2 {
            display: flex;
            width: 1140px;
            justify-content: space-between;
        }

        &__part-3 {
            display: flex;
            margin-top: 34px;
            width: 555px;
            justify-content: center;
        }

        &__first-title {
            width: 555px;
            margin-top: 108px;
        }

        &__second-title {
            width: 555px;
            height: 112px;
            margin-top: 24px;
            font-size: 56px !important;
            line-height: 56px !important;
            letter-spacing: -0.5px !important;
        }

        &__text {
            width: 555px;
            height: 72px;
            margin-top: 30px;
        }

        &__first-button {
            width: 160px;
            margin-top: 0;
            margin-right: 10px;
        }

        &__second-button {
            width: 158px;
            margin-top: 0;
        }

        &__img {
            width: 262px;
            margin-top: 111px !important;

            &_first {
                margin-top: 0;
            }

            &_fourth {
                margin-bottom: 0;
            }

            &_first-text {
                width: 250px;
                height: 28px;
                text-align: center;
                margin-top: 22px;
                color: rgba(43, 41, 45, 1);
                font-size: 22px;
                font-weight: $bold;
                line-height: 28px;
            }

            &_second-icon {
                width: 142px;
                height: 195px;
                margin-top: 22px;
            }

            &_second-text {
                width: 250px;
                height: 28px;
                text-align: center;
                margin-top: 22px;
                color: rgba(255, 255, 255, 1);
                font-size: 22px;
                font-weight: $bold;
                line-height: 28px;
            }

            &_third-icon {
                width: 160px;
                height: 195px;
                margin-top: 22px;
            }

            &_third-text {
                width: 250px;
                height: 28px;
                text-align: center;
                margin-top: 22px;
                color: rgba(43, 41, 45, 1);
                font-size: 22px;
                font-weight: $bold;
                line-height: 28px;
            }

            &_fourth-icon {
                width: 119px;
                height: 195px;
                margin-top: 22px;
                margin-left: 0px;
            }

            &_fourth-text {
                width: 212px;
                height: 28px;
                text-align: center;
                margin-top: 22px;
                color: rgba(43, 41, 45, 1);
                font-size: 22px;
                font-weight: $bold;
                line-height: 28px;
            }
        }
    }

    // FEEDBACK

    .feedback {
        min-width: 1400px;
        min-height: 354px;

        &__title {
            margin-top: 0;
            width: 1140px;
            height: 30px;
            text-align: center;
        }

        &__text {
            margin-top: 28px;
            width: 750px;
            height: 102px;
            text-align: center;
        }

        &__author {
            margin-top: 34px;
            width: 750px;

            &_name {
                text-align: center;
            }

            &_work {
                text-align: center;
            }
        }

        &__etc {
            width: 50px;
            height: 8px;
            margin-top: 38px;

            &_one {
                width: 8px;
                height: 8px;
            }

            &_two {
                width: 8px;
                height: 8px;
            }
        }

        &__img {
            margin-top: 82px;
            margin-left: 26px;
            margin-bottom: 0;
            width: 325px;
            height: 243px;

            &_icon {
                width: 273px;
                height: 243px;
            }
        }

        &__part-1 {
            display: flex;
            justify-content: center;
        }

        &__part-2 {
            display: flex;
            flex-direction: column;
            margin-left: 325px;
        }

        &__part-4 {
            width: 750px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    // HIRING

    .hiring {
        min-width: 1400px;
        min-height: 839px;

        &__title {
            width: 750px;
            height: 62px;
            margin-top: 106px;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -0.5px;
        }

        &__text {
            width: 555px;
            height: 72px;
            margin-top: 20px;
        }

        &__button {
            width: 247px;
            margin-top: 28px;
            margin-bottom: 90px;
        }

        &__rectangle {
            width: 750px;
            height: 81px;
            margin-top: 20px;
            align-items: center;

            &_block-text {
                flex-direction: row;
                width: 685px;
            }

            &_block-text-title {
                width: 408px;
                margin-left: 25px;
                margin-top: 0;
            }

            &_block-text-text {
                margin-bottom: 0;
                width: 232px;
                margin-left: 20px;
            }

            &_block-arrow {
                background: none;
                width: 65px;
                height: 81px;
            }

            &_first-child {
                background-color: rgba(49, 65, 197, 1);
            }

            &_block-text-title-first-child,
            &_block-text-text-first-child {
                color: rgba(255, 255, 255, 1);
            }

            &_block-arrow-icon-first-child {
                content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png);
            }
        }
    }

    // ORDER

    .order {
        flex-direction: row;
        min-width: 1400px;
        min-height: 441px;

        &__part-1 {
            width: 615px;
            display: flex;
            align-items: center;
        }

        &__part-2 {
            width: 785px;
            display: flex;
            flex-direction: column;
        }

        &__img {
            width: 269.406px;
            height: 296px;
            margin-top: 50px;
            margin-left: 224px;

            &_icon {
                width: 269.406px;
                height: 296px;
            }
        }

        &__title {
            margin-top: 106px;
            width: 555px;
            height: 48px;
        }

        &__text {
            margin-top: 12px;
            width: 555px;
            height: 64px;

            &_text {
                margin-left: 15px;
            }
        }

        &__input {
            margin-top: 26px;
            width: 385px;
            display: flex;
            justify-content: center;
            background-color: rgba(255, 255, 255, 1);
        }

        &__part-2_1 {
            display: flex;
        }

        &__button {
            margin-top: 26px;
            margin-left: 10px;
            width: 160px;
        }

        &__down-side {
            width: 555px;
            height: 22px;
        }
    }

    // FOOTER

    .footer {
        min-width: 1400px;
        min-height: 389px;
        justify-content: center;
        align-items: center;

        &__part-1 {
            display: flex;
            width: 1400px;
            justify-content: center;
            align-items: center;
            border-bottom: $grey-border;
        }

        &__part-2 {
            display: flex;
            width: 1400px;
            justify-content: space-between;
        }

        &__down-side {
            display: flex;
            justify-content: right;
            border-top: none;
            margin-top: 0px;
            width: 785px;

            &_products {
                margin-top: 0;
                height: 210px;
                width: 265px;
            }

            &_company {
                margin-top: 0;
                height: 210px;
                width: 265px;
            }

            &_other-links {
                margin-left: 130px;
            }

            &_social-links {
                margin-right: 132px;
            }
        }

        &__up-side {
            align-items: baseline;

            &_logo {
                display: flex;
                margin-top: 0;
                justify-content: baseline;
                align-items: baseline;
            }

            &_icon {
                width: 66px;
                height: 60px;
            }

            &_icon-img {
                width: 66px;
                height: 60px;
            }

            &_text {
                width: 360px;
                height: 85px;
                align-items: baseline;
                margin-left: 15px;
                margin-top: 0;
                position: relative;
                top: -35px;
                color: rgba(43, 41, 45, 0.60);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
            }

            &_links {
                margin-top: 25px;
                margin-bottom: 59px;
            }
        }

        &__up-side-text {
            color: rgba(43, 41, 45, 0.60);
            font-size: 18px;
            line-height: 26px;
            width: 360px;
            height: 85px;
        }
    }
}

@media screen and (max-width: 1399.9px) {
    .features-1 {
        display: none;
    }

    .footer__up-side {

        &_text {
            display: none;
        }

        &_logo {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .inbox__img_text {
        display: none;
    }

    .footer__up-side .header__menu_items {
        display: none;
    }

    .header {

        &__logo_text-second {
            display: none;
        }

        &__button {
            display: none;
        }

        &__menu {
            &_arrow {
                display: none;
            }

            &_items {
                display: none;
            }
        }
    }

    .feedback__part-4 {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 321px) and (max-width: 1399.9px) {
    .page {
        min-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer,
    .top-section,
    .about,
    .features,
    .inbox,
    .communication,
    .audience,
    .feedback,
    .hiring,
    .order {
        min-width: 100vw;
    }

    .customers {
        min-width: 100vw;
        align-items: center;
    }
}