@import "./variables.scss";

.communication {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__base-part {
    display: flex;
    flex-direction: column;

    &_base-title {
      margin-top: 50px;
      color: rgba(1, 137, 209, 1);
      font-size: 22px;
      font-weight: $bold;
      line-height: 34px;
      width: 290px;
      height: 34px;
    }

    &_subordinate-title {
      margin-top: 17px;
      width: 290px;
      height: 80px;
    }

    &_text {
      margin-top: 18px;
      color: $base-text-color;
      font-size: 24px;
      line-height: 34px;
      width: 290px;
      height: 167px;
    }

    &_button {
      margin-top: 30px;
      border: none;
      border-radius: $button-border-radius;
      background-color: $blue-button-color;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      height: 48px;
    }

    &_button-text {
      color: $blue-button-text-color;
      font-size: 18px;
      font-weight: $bold;
      line-height: 13px;
    }

    &_img {
      margin-top: 40px;
      width: 290px;
      height: 291px;
    }

    &_img-icon {
      width: 290px;
      height: 291px;
    }

    &_phrase {
      margin-top: 17px;
      color: $subordinate-text-color;
      text-align: center;
      font-size: 14px;
      line-height: 22px;
      width: 290px;
      height: 22px;
    }

    &_phrase-bottom {
      height: 40px;
      width: 150px;
      margin-left: 15px;
      border-bottom: $grey-border;
    }
  }

  &__subordinate-part {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_base-text {
      width: 290px;
      height: 138px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 33px;
    }

    &_base-text-text {
      color: $base-text-color;
      font-size: 18px;
      line-height: 26px;
    }

    &_base-text-link {
      color: $accessory-text-color;
      font-size: 18px;
      font-weight: $bold;
      line-height: 26px;
      text-decoration: underline;
    }

    &_subordinate-text {
      width: 290px;
      height: 138px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 33px;
    }

    &_subordinate-text-text {
      color: $base-text-color;
      font-size: 18px;
      line-height: 26px;
    }

    &_subordinate-text-link {
      color: $accessory-text-color;
      font-size: 18px;
      font-weight: $bold;
      line-height: 26px;
      text-decoration: underline;
    }

    &_accessory-text {
      width: 290px;
      height: 111px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 32px;
      margin-bottom: 50px;
    }

    &_accessory-text-text {
      color: $base-text-color;
      font-size: 18px;
      line-height: 26px;
    }

    &_accessory-text-link {
      color: $accessory-text-color;
      font-size: 18px;
      font-weight: $bold;
      line-height: 26px;
      text-decoration: underline;
    }
  }
}
