@import './variables.scss';

.customers {
    height: 189px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &__three-rectangles {
        display: flex;
        border-bottom: $grey-border;
    }

    &__rectangles {
        min-width: 107px;
        min-height: 94px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(1) {
            border-right: $grey-border;
        }

        &:nth-child(2) {
            border-right: $grey-border;
        }

    }

    &__img {
        filter: brightness(0);
        max-width: 70%;
    }
}