@import "./variables.scss";
@import "./breakpoints.scss";

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;

  @include for-desktop {
    min-width: 1400px;
    min-height: 389px;
    justify-content: center;
    align-items: center;
  }

  @include for-middle {
    min-width: 100vw;
  }

  &__up-side {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-desktop {
      align-items: baseline;
    }

    @include for-mobile {
      display: none;
    }

    &_links {
      display: flex;
      margin-top: 31px;
      margin-bottom: 40px;
    }

    &_icon {
      width: 65px;
      height: 60px;
      margin-top: 40px;
      padding: 0;

      @include for-desktop {
        width: 66px;
        height: 60px;
      }
    }

    &_icon-img {
      width: 65px;
      height: 60px;
      padding: 0;

      @include for-desktop {
        width: 66px;
        height: 60px;
      }
    }

    &_text {
      width: 290px;
      height: 51px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      @include for-desktop {
        width: 360px;
        height: 85px;
        align-items: baseline;
        margin-left: 15px;
        margin-top: 0;
        position: relative;
        top: -35px;
        color: rgba(43, 41, 45, 0.6);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
      }

      @include for-mobile {
        display: none;
      }
    }

    &_text-base {
      font-size: 20px;
      font-weight: $bold;
      color: $base-text-color;
      line-height: 25px;
    }

    &_text-subordinate {
      font-size: 20px;
      font-weight: normal;
      color: $subordinate-text-color;
      line-height: 25px;
    }

    &_links {
      @include for-desktop {
        margin-top: 25px;
        margin-bottom: 59px;
      }
    }

    &_links-appstore {
      width: 135px;
      height: 40px;
    }

    &_links-googleplay {
      width: 116px;
      height: 40px;
    }

    &_links-space {
      width: 10px;
    }

    &_logo {
      @include for-desktop {
        display: flex;
        margin-top: 0;
        justify-content: baseline;
        align-items: baseline;
      }

      @include for-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__down-side {
    border-top: 1px solid rgba(227, 227, 227, 1);

    @include for-desktop {
      display: flex;
      justify-content: right;
      border-top: none;
      margin-top: 0px;
      width: 785px;
    }

    &_title {
      width: 290px;
      height: 28px;
      font-size: 22px;
      color: $base-text-color;
      line-height: 28px;
      font-weight: $bold;
    }

    &_list-item {
      width: 290px;
      height: 30px;
      line-height: 30px;
      font-size: 18px;
      color: $subordinate-text-color;
      list-style-type: none;
    }

    &_list {
      padding: 0;
    }

    &_other-links {
      display: flex;
      height: 22px;
      line-height: 22px;
      width: 180px;
      justify-content: space-between;

      @include for-desktop {
        margin-left: 130px;
      }
    }

    &_other-links-item {
      font-size: 14px;
      color: $subordinate-text-color;
    }

    &_social-links {
      margin-left: 15px;

      @include for-desktop {
        margin-right: 132px;
      }
    }

    &_social-links-img:nth-child(1) {
      margin-top: 31px;
      margin-bottom: 23px;
      width: 21px;
      height: 16px;
      margin-right: 20px;
    }

    &_social-links-img:nth-child(2) {
      margin-top: 31px;
      margin-bottom: 22px;
      width: 18px;
      height: 17px;
      margin-right: 20px;
    }

    &_social-links-img:nth-child(3) {
      margin-top: 30px;
      margin-bottom: 23px;
      width: 18px;
      height: 17px;
      margin-right: 20px;
    }

    &_company,
    &_products {
      margin-left: 15px;
      margin-top: 30px;

      @include for-desktop {
        margin-top: 0;
        height: 210px;
        width: 265px;
      }
    }

    &_other-links {
      margin-left: 15px;
      margin-top: 30px;
    }
  }

  &__paramount {
    @include for-desktop {
      display: flex;
      width: 1400px;
      justify-content: center;
      align-items: center;
      border-bottom: $grey-border;
    }
  }

  &__minor {
    @include for-desktop {
      display: flex;
      width: 1400px;
      justify-content: space-between;
    }
  }
}
