@import "./variables.scss";
@import "./breakpoints.scss";

.header-section {
  height: 826px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(243, 198, 189, 1);

  @include for-desktop-version {
    flex-direction: row;
    max-height: 609px;
  }

  &__main {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;

    @include for-desktop-version {
      flex-direction: row;
    }
  }

  &__big-text {
    width: 290px;
    height: 205px;
    line-height: 50px;
    font-weight: $bold;
    color: $base-text-color;
    font-size: 50px;
    letter-spacing: -0.312px;

    @include for-desktop-version {
      margin-top: 0;
      width: 754px;
      height: 165px;
      margin-left: 0;
      line-height: 78px;
      font-size: 80px;
      letter-spacing: -0.5px;
      z-index: 1;
    }
  }

  &__small-text {
    width: 290px;
    height: 172px;
    margin-top: 24px;
    line-height: 34px;
    font-size: 24px;
    color: $base-text-color;

    @include for-desktop-version {
      width: 456px;
      height: 102px;
      margin-top: 34px;
    }
  }

  &__base-button {
    width: 290px;
    height: 48px;
    margin-top: 30px;
    background-color: $blue-button-color;
    border: none;
    border-radius: $button-border-radius;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-desktop-version {
      width: 160px;
      margin-top: 58px;
      margin-right: 10px;
    }

    &_text {
      font-weight: $bold;
      line-height: 13px;
      font-size: 18px;
      color: $blue-button-text-color;

      @include for-desktop-version {
        font-weight: $bold;
        line-height: 13px;
        font-size: 18px;
        color: $blue-button-text-color;
      }
    }
  }

  &__subordinate-button {
    width: 290px;
    height: 48px;
    margin-top: 15px;
    background-color: $white-button-color;
    border: none;
    border-radius: $button-border-radius;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-desktop-version {
      width: 158px;
      margin-top: 58px;
    }

    &_text {
      font-weight: $bold;
      line-height: 13px;
      font-size: 18px;
      color: $white-button-text-color;

      @include for-desktop-version {
        font-weight: $bold;
        line-height: 13px;
        font-size: 18px;
        color: $white-button-text-color;
      }
    }
  }

  &__img {
    width: 320px;
    height: 180px;
    margin-top: 33px;
    margin-bottom: 36px;

    &_icon {
      width: 320px;
      height: 180px;
    }
  }

  &__img {
    @include for-desktop-version {
      width: 796px;
      height: 448px;
      margin-top: 185px;
      margin-bottom: 77px;
      position: relative;
      right: 300px;
      top: -25px;
    }

    &_icon {
      @include for-desktop-version {
        width: 796px;
        height: 448px;
      }
    }
  }

  &__paramount {
    @include for-desktop-version {
      display: flex;
      flex-direction: column;
      margin-left: 130px;
    }
  }

  &__minor {
    @include for-desktop-version {
      display: flex;
    }
  }
}
