@import "./variables.scss";
@import "./breakpoints.scss";

.hiring {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-desktop {
    min-width: 1400px;
    min-height: 839px;
  }

  @include for-middle {
    min-width: 100vw;
  }

  &__title {
    text-align: center;
    width: 290px;
    height: 45px;
    margin-top: 50px;

    @include for-desktop {
      width: 750px;
      height: 62px;
      margin-top: 106px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }

  &__text {
    text-align: center;
    width: 290px;
    height: 136px;
    color: rgba(43, 41, 45, 1);
    font-size: 24px;
    line-height: 34px;
    margin-top: 18px;

    @include for-desktop {
      width: 555px;
      height: 72px;
      margin-top: 20px;
    }
  }

  &__button {
    width: 290px;
    height: 48px;
    border-radius: $button-border-radius;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #3040c4;
    background-blend-mode: OVERLAY, NORMAL;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05),
      0px 1px 3px 0px rgba(0, 0, 0, 0.1),
      0px 1px 0px 0px rgba(255, 255, 255, 0.1) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 24px;

    @include for-desktop {
      width: 247px;
      margin-top: 28px;
      margin-bottom: 90px;
    }

    &_text {
      width: 190px;
      height: 13px;
      color: rgba(255, 255, 255, 1);
      font-size: 18px;
      font-weight: $bold;
      line-height: 13px;
    }
  }

  &__rectangle {
    width: 290px;
    height: 140px;
    border-radius: 8px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    @include for-desktop {
      width: 750px;
      height: 81px;
      margin-top: 20px;
      align-items: center;
    }

    &_block-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 240px;
      height: 140px;
      justify-content: space-between;

      @include for-desktop {
        flex-direction: row;
        width: 685px;
      }
    }

    &_block-text-title {
      color: $base-text-color;
      font-size: 22px;
      font-weight: $bold;
      line-height: 28px;
      width: 200px;
      margin-top: 19px;

      @include for-desktop {
        width: 408px;
        margin-left: 25px;
        margin-top: 0;
      }
    }

    &_block-subtitle {
      color: rgba(43, 41, 45, 0.6000000238418579);
      font-size: 16px;
      line-height: 22px;
      width: 200px;
      height: 26px;
      margin-bottom: 19px;

      @include for-desktop {
        margin-bottom: 0;
        width: 232px;
        margin-left: 20px;
      }
    }

    &_block-arrow {
      border-radius: 0px 8px 8px 0px;
      background: rgba(213, 212, 213, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 140px;

      @include for-desktop {
        background: none;
        width: 65px;
        height: 81px;
      }
    }

    &_block-arrow-icon {
      width: 7px;
      height: 12px;
    }

    &:last-child {
      margin-bottom: 50px;
    }
  }

  &_base-child {
    @include for-desktop {
      background-color: rgba(49, 65, 197, 1);
    }
  }

  &_caption,
  &_subtitle {
    @include for-desktop {
      color: rgba(255, 255, 255, 1);
    }
  }

  &_arrow {
    @include for-desktop {
      content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png);
    }
  }
}
