@import "./header.scss";
@import "./footer.scss";
@import "./header-section.scss";
@import "./about.scss";
@import "./customers.scss";
@import "./features.scss";
@import "./inbox.scss";
@import "./communication.scss";
@import "./audience.scss";
@import "./feedback.scss";
@import "./hiring.scss";
@import "./order.scss";
@import "./breakpoints.scss";
@import "./variables.scss";

.body {
  width: 100vw;
  display: flex;
  justify-content: center;

  @include for-desktop-version {
    max-width: 100vh;
  }
}

.page {
  max-width: 320px;
  min-height: 100vh;
  font-family: $main-font-family;
  font-size: $main-font-size;

  @include for-desktop-version {
    min-width: 1400px;
    margin: auto;
  }

  @include from-mobile-to-desktop-version {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title-type-text {
  color: $base-text-color;
  font-size: 40px;
  font-weight: $bold;
  line-height: 40px;
  letter-spacing: -0.357px;
}

.order-type-text {
  color: rgba(43, 41, 45, 1);
  font-size: 22px;
  line-height: 32px;
}

.button-type-text {
  color: rgba(43, 41, 45, 1);
  font-size: 18px;
  line-height: 13px;
}

.tooltip-type-text {
  color: $subordinate-text-color;
  font-size: 14px;
  line-height: 22px;
}
