@import "./variables.scss";
@import "./breakpoints.scss";

.order {
  background-color: rgba(244, 245, 247, 1);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-desktop {
    flex-direction: row;
    min-width: 1400px;
    min-height: 441px;
  }

  @include for-middle {
    min-width: 100vw;
  }

  &__img {
    width: 200px;
    height: 220px;
    margin-top: 50px;

    @include for-desktop {
      width: 269.406px;
      height: 296px;
      margin-top: 50px;
      margin-left: 224px;
    }

    &_icon {
      width: 200px;
      height: 220px;

      @include for-desktop {
        width: 269.406px;
        height: 296px;
      }
    }
  }

  &__title {
    margin-top: 40px;
    width: 290px;
    height: 80px;

    @include for-desktop {
      margin-top: 106px;
      width: 555px;
      height: 48px;
    }
  }

  &__text {
    margin-top: 18px;
    width: 290px;
    height: 167px;

    @include for-desktop {
      margin-top: 12px;
      width: 555px;
      height: 64px;
    }

    &_text {
      @include for-desktop {
        margin-left: 15px;
      }
    }
  }

  &__input {
    margin-top: 40px;
    width: 290px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $grey-border;
    border-radius: $button-border-radius;

    @include for-desktop {
      margin-top: 26px;
      width: 385px;
      display: flex;
      justify-content: center;
      background-color: rgba(255, 255, 255, 1);
    }

    &_text {
      width: 146px;
      height: 13px;
    }
  }

  &__button {
    margin-top: 12px;
    width: 290px;
    height: 48px;
    border-radius: $button-border-radius;
    background-color: $blue-button-color;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-desktop {
      margin-top: 26px;
      margin-left: 10px;
      width: 160px;
    }

    &_text {
      font-weight: $bold;
      color: $blue-button-text-color !important;
    }
  }

  &__down-side {
    width: 290px;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 50px;

    @include for-desktop {
      width: 555px;
      height: 22px;
    }

    &_link {
      text-decoration: underline;
      color: rgba(49, 66, 198, 1);
    }
  }

  &__minor_secondary {
    @include for-desktop {
      display: flex;
    }
  }

  &__paramount {
    @include for-desktop {
      width: 615px;
      display: flex;
      align-items: center;
    }
  }

  &__minor {
    @include for-desktop {
      width: 785px;
      display: flex;
      flex-direction: column;
    }
  }
}
