@import './variables.scss';

.section-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-6__first-part {
    display: flex;
    flex-direction: column;
}

.section-6__first-part_first-title {
    margin-top: 50px;
    color: rgba(1, 137, 209, 1);
    font-size: 22px;
    font-weight: $bold;
    line-height: 34px;
    width: 290px;
    height: 34px;
}

.section-6__first-part_second-title {
    margin-top: 17px;
    width: 290px;
    height: 80px;
}

.section-6__first-part_text {
    margin-top: 18px;
    color: $first-text-color;
    font-size: 24px;
    line-height: 34px;
    width: 290px;
    height: 167px;
}

.section-6__first-part_button {
    margin-top: 30px;
    border: none;
    border-radius: $button-border-radius;
    background-color: $blue-button-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 48px;
}

.section-6__first-part_button-text {
    color: $blue-button-text-color;
    font-size: 18px;
    font-weight: $bold;
    line-height: 13px;
}

.section-6__first-part_img {
    margin-top: 40px;
    width: 290px;
    height: 291px;
}

.section-6__first-part_img-icon {
    width: 290px;
    height: 291px;
}

.section-6__first-part_phrase {
    margin-top: 17px;
    color: $second-text-color;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    width: 290px;
    height: 22px;
}

.section-6__first-part_phrase-bottom {
    height: 40px;
    width: 150px;
    margin-left: 15px;
    border-bottom: $grey-border;
}

.section-6__second-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-6__second-part_first-text {
    width: 290px;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 33px;
}

.section-6__second-part_first-text-text {
    color: $first-text-color;
    font-size: 18px;
    line-height: 26px;
}

.section-6__second-part_first-text-link {
    color: $third-text-color;
    font-size: 18px;
    font-weight: $bold;
    line-height: 26px;
    text-decoration: underline;
}

.section-6__second-part_second-text {
    width: 290px;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 33px;
}

.section-6__second-part_second-text-text {
    color: $first-text-color;
    font-size: 18px;
    line-height: 26px;
}

.section-6__second-part_second-text-link {
    color: $third-text-color;
    font-size: 18px;
    font-weight: $bold;
    line-height: 26px;
    text-decoration: underline;
}

.section-6__second-part_third-text {
    width: 290px;
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 50px;
}

.section-6__second-part_third-text-text {
    color: $first-text-color;
    font-size: 18px;
    line-height: 26px;
}

.section-6__second-part_third-text-link {
    color: $third-text-color;
    font-size: 18px;
    font-weight: $bold;
    line-height: 26px;
    text-decoration: underline;
}