$main-font-size: 16px;
$main-font-family: 'Work Sans', sans-serif;
$background-color-of-section-1: rgba(243, 198, 189, 1);
$background-color-of-section-2: rgba(244, 245, 247, 1);
$background-color-of-section-5: rgba(252, 240, 227, 1);
$background-color-of-section-7: rgba(0, 161, 198, 0.7);
$bold: 700;
$first-text-color: rgba(43, 41, 45, 1);
$second-text-color: rgba(43, 41, 45, 0.6);
$blue-button-color: rgba(48, 64, 196, 1);
$white-button-color: rgba(255, 255, 255, 1);
$blue-button-text-color: rgba(255, 255, 255, 1);
$white-button-text-color: rgba(48, 64, 196, 1);
$button-border-radius: 2px;
$grey-border: 1px solid rgba(0, 0, 0, 0.14999999105930328);
$third-text-color: rgba(48, 64, 196, 1);
$box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14999999105930328);